<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!---- <title> Login Form | CodingLab </title>--->
    
   <link rel="stylesheet" href="style sheet.css"/>
   </head>
<body>
  <h1>HEALTHTRACKER</h1>
  <img src="1.png" alt="Simply " width="200" height="150">
  
  <div class="main_div">
    <div class="title">Login Form</div>
    <div class="social_icons">
      <a href="#"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
      <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
    </div>
    <form action="#">
      <div class="input_box">
        <input type="text" placeholder="Email or Phone" required>
        <div class="icon"><i class="fas fa-user"></i></div>
      </div>
      <div class="input_box">
        <input type="password" placeholder="Password" required>
        <div class="icon"><i class="fas fa-lock"></i></div>
      </div>
      <div class="option_div">
        <div class="check_box">
          <input type="checkbox">
          <span>Remember me</span>
        </div>
        <div class="forget_div">
          <a href="fg.html">Forgot password?</a>
        </div>
      </div>
      <div class="hii">
      <a href="ht.html">LOG IN</a>
      </div>
      <div class="sign_up">
        Not a member? <a href="signup.html">Signup now</a>
      </div>
    </form>
  </div>
  
</body>
</html>
